<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增学生信息</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<div class="wapper" style="width: 500px;margin-top: 40px">
    <fieldset class="layui-elem-field layui-field-title">
        <legend style="font-size: 26px">新增学生信息</legend>
    </fieldset>
    <form class="layui-form" method="post">
        {% csrf_token %}
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="SName" lay-verify="required" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密&emsp;码</label>
            <div class="layui-input-inline">
                <input type="text" name="SPwd" lay-verify="required"
                       autocomplete="off"
                       class="layui-input" lay-verify="pass">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学&emsp;号</label>
            <div class="layui-input-inline">
                <input type="number" name="Student_id"  lay-verify="required"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学院:</label>
            <div class="layui-input-inline">
                <select name="college" lay-verify="required" id="college" lay-filter="college">
                    <option ></option>
                {% for college in all_college %}
                    <option value="{{college.id}}">{{ college.college_name }}</option>
                {% endfor %}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">专业:</label>
              <div class="layui-input-inline">
                <select name="major" lay-verify="required|major" id="major" lay-filter="major">
                </select>
              </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电&emsp;话</label>
            <div class="layui-input-inline">
                <input type="number" name="SPhoneNumber" lay-verify="required"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-inline">
                <input type="number" name="SIDCard" lay-verify="required"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline">
                <select name="SSex" lay-verify="required">
                    <option value=""></option>
                      <option value="男">男</option>
                      <option value="女">女</option>
                  </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">修改</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    layui.use(['element', 'form','layer'], function () {
        var element = layui.element,
            form = layui.form,
            $ = layui.jquery,
            layer = layui.layer;

        form.on('select(college)', function(data){
            var Cid=data.elem.value;
            $.ajax({
                type: 'POST',
                url: "/get_major/",
                data: {
                    Cid:Cid,
                    csrfmiddlewaretoken:'{{ csrf_token  }}'
                },
                dataType: 'json',
                success:function(data){
                    //empty() 方法从被选元素移除所有内容
                    $("select[name='major']").empty();
                    var html = "<option value=''></option>";
                    for (let i=0; i<data.length;i++){
                        html += "<option value='" + data[i]['id'] + "'>" + data[i]['major_name'] + "</option>";
                    }
                    //把遍历的数据放到select表里面
                    $("select[name='major']").append(html);
                    //从新刷新了一下下拉框
                    form.render('select');      //重新渲染
                }
            });
        });
        form.verify({
            major: function (value) {
                console.log(value)
                if (value===null){
                     return '必填字段不能为空'
                }
            }
        });

        form.on("submit(edit)",function(data){
        	$.post("/add_student/",data.field,function(result){
        		if(result.code === 0){
        			layer.msg(result.msg,{time:800,end:function(){window.location="/add_student/";}})
        		}else{
        			layer.msg(result.msg);
        		}
        	});
        	return false;
        })
    });
</script>    
</body>
</html>