<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校学生评优评奖系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a href="/welcome/" target="iframe">
            <div class="layui-logo">
                <h3>高校学生评优评奖系统</h3>
            </div>
        </a>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item" lay-unselect="" style="">
                <a href="javascript:;">
                    <cite>{{ request.session.TStaff_number }}，欢迎回来</cite>
                    <span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd style="text-align: center;"><a href="/update_teacher_pwd/" target="iframe">修改密码</a></dd>
                    <hr>
                    <dd layadmin-event="logout" style="text-align: center;"><a href="/teacher_loginout/">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-side">
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;">奖项</a>
                <dl class="layui-nav-child">
                    <dd><a href="/add_Scholarship/" target="iframe">添加奖项</a></dd>
                    <dd><a href="/allproject/" target="iframe">我发布的奖项</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">审核</a>
                <dl class="layui-nav-child">
                    <dd><a href="/teacher_college_application_page/" target="iframe">我学院的申请</a></dd>
                    <dd><a href="/teacher_Approved_page/" target="iframe">我以审批</a></dd>
{#                    <dd><a href="/addJob/" target="iframe">助学金审核</a></dd>#}
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-nav-tree" lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">用户信息管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/all_student_page/" target="iframe">所有学生</a></dd>
                    <dd><a href="/update_teacher_pwd/" target="iframe">修改密码</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-body">
        <iframe src="/welcome/" width="100%" height="100%" frameborder="0" name="iframe" scrolling="auto" seamless></iframe>
    </div>
    <footer class="" style="text-align: center;font-size: 16px">
        <p></p>
    </footer>
</div>
<script src="/static/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['element'], function () {
        var element = layui.element,
            $ = layui.jquery;
    });
</script>
</body>
</html>
